<nav class="navbar navbar-expand-sm navbar-dark" style="background-color: #111d5e;">
    <a class="navbar-brand" routerLink="/about">TourApp</a>
    <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId" aria-controls="collapsibleNavId"
        aria-expanded="false" aria-label="Toggle navigation"></button>
    <div class="collapse navbar-collapse" id="collapsibleNavId">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item ">
                <a class="nav-link" routerLink="/about">About <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/touristplace">Tourist Places</a>
            </li>
            <!-- <li class="nav-item">
              <a class="nav-link" routerLink="/addtouristplace">Add Tourist Place</a>
            </li> -->
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle"  href="#" id="dropdownId" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" >Search Options </a>
                <div class="dropdown-menu" aria-labelledby="dropdownId">
                    <a class="dropdown-item" routerLink="/city">Search By City</a>
                    <a class="dropdown-item" routerLink="/location">Search By Location</a>
                    <a class="dropdown-item" routerLink="/state">Search By State</a>
                </div>
            </li>
        </ul>
        <div class="nav-item dropdown">
            <!-- <li class="nav-item dropdown"> -->
              <a  class="btn btn-outline-primary my-2 my-sm-0"  style="margin-right: 80px;" href="#" id="dropdownId" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Admin</a>
              <div class="dropdown-menu" aria-labelledby="dropdownId">
                <a class="dropdown-item" routerLink="/addtouristplace">Add Place</a>
                <a class="dropdown-item" routerLink="/delete">Delete Place</a>
              </div>
            <!-- </li> -->
          </div>
        <!-- <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="text" placeholder="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form> -->
    </div>
</nav>
<router-outlet></router-outlet>